# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

spec/examples.txt
.byebug_history

.idea/
