<div ng-controller="HomeController">
  <form ng-submit="getWeather(false)">
    <div class="form-group">
      <label class="sr-only" for="city">City</label>
      <div class="input-group col-xs-6">
        <input type="text" class="form-control" id="city" placeholder="City, country" name="city" ng-model="search.city">
        <div class="input-group-addon actionable" ng-click="getWeather(false)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="button" class="btn btn-default" ng-click="getWeather(true)">
          How is the weather somewhere else?
        </button>
      </div>
    </div>
    <div class="form-group has-error" ng-if="error">
      <div class="col-xs-10 control-label">
        {{error_message}}
      </div>
    </div>
  </form>
  <div class="row weather-block" ng-if="weatherResult">
    <div class="col-xs-6">
      {{weatherResult.city}}, {{weatherResult.country}}
    </div>
  </div>
</div>
