<div ng-controller="HomeController">
  <form ng-submit="getWeather(false)">
    <div class="form-group">
      <label class="sr-only" for="city">City</label>
      <div class="input-group col-xs-5">
        <input type="text" class="form-control" id="city" placeholder="City, country (leave empty for random search)"
        name="city" ng-model="search.city">
        <div class="input-group-addon actionable" ng-click="getWeather(false)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="getWeather(true)">
        How is the weather somewhere else? (Random location)
      </button>
    </div>
    <div class="form-group has-error" ng-if="error">
      <div class="col-xs-10 control-label">
        {{error_message}}
      </div>
    </div>
  </form>
  <div class="row" ng-if="loading">
    <div class="col-xs-4">
      Loading... <i class="fa fa-cog fa-spin fa-fw"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <table class="table table-bordered table-striped weather-table" ng-if="weatherResult">
        <tbody>
          <tr>
            <td colspan="2">
              <div class="weather-summary text-center">
                <div class="title">Current condition at {{weatherResult.time | date:'dd.MM.yyyy HH:mm' }}</div>
                <div class="location">
                  <span ng-if="weatherResult.city">
                    {{weatherResult.city}}, {{weatherResult.country}}
                  </span><br>
                  <span ng-if="!weatherResult.city">
                    Unknown location (Lat: {{weatherResult.latitude}}째; Lon: {{weatherResult.longitude}}째)
                  </span>
                </div>
                <div class="condition">
                  <strong>{{weatherResult.weather_main}}</strong>
                  <small>({{weatherResult.weather_description}})</small>
                  <img ng-src="{{weatherResult.weather_icon}}"
                      alt="weatherResult.weather_main"
                      ng-if="weatherResult.weather_icon"
                      class="weather-icon"
                 />
                 <div class="temperature">
                   Current temp: {{weatherResult.temp}}째C
                 </div>
               </div>
              </div>
            </td>
          </td>
          <tr>
            <td>Wind</td>
            <td>{{weatherResult.wind_speed}}m/s, {{weatherResult.wind_direction}}째</td>
          </td>
          <tr>
            <td>Cloudiness</td>
            <td>{{weatherResult.cloudiness}}%</td>
          </td>
          <tr>
            <td>Rain volume (last 3 hours)</td>
            <td>{{weatherResult.rain_volume}}</td>
          </td>
          <tr>
            <td>Snow volume (last 3 hours)</td>
            <td>{{weatherResult.snow_volume}}</td>
          </td>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6">
      <strong>Previous 10 queries (click on links to re-run the searches)</strong>
      <table class="table table-bordered table-striped queries-table" ng-if="weatherLogs.length > 0">
        <thead>
          <tr>
            <th>Time</th>
            <th>User query</th>
            <th>System response code</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="log in weatherLogs">
            <td>{{log.created_at | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><a href="javascript: void(0);" ng-click="rerunQuery(log.user_query)">{{log.user_query}}</a></td>
            <td>{{log.api_res_code}}</td>
          </tr>
        </tbody>
      </table>
      <div ng-if="weatherLogs.length <= 0">
        <br>No previous queries
      </div>
    </div>
  </div>
