<div ng-controller="HomeController">
  <form ng-submit="getWeather(false)">
    <div class="form-group">
      <label class="sr-only" for="city">City</label>
      <div class="input-group col-xs-6">
        <input type="text" class="form-control" id="city" placeholder="City, country" name="city" ng-model="search.city">
        <div class="input-group-addon actionable" ng-click="getWeather(false)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="button" class="btn btn-default" ng-click="getWeather(true)">
          How is the weather somewhere else?
        </button>
      </div>
    </div>
    <div class="form-group has-error" ng-if="error">
      <div class="col-xs-10 control-label">
        {{error_message}}
      </div>
    </div>
  </form>
  <div class="row" ng-if="loading">
    <div class="col-xs-4">
      Loading... <i class="fa fa-cog fa-spin fa-fw"></i>
    </div>
  </div>
  <div class="row weather-block" ng-if="weatherResult">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <span ng-if="weatherResult.city">
            Weather at {{weatherResult.city}}, {{weatherResult.country}}
          </span><br>
          <span ng-if="!weatherResult.city">
            Unknown
          </span>
          Location: Latitude: {{weatherResult.latitude}}°; Longitude: {{weatherResult.longitude}}°
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Current condition: {{weatherResult.weather_main}} ({{weatherResult.weather_description}})
          <img ng-src="{{weatherResult.weather_icon}}"
               alt="weatherResult.weather_main"
               ng-if="weatherResult.weather_icon"
          />
        </div>
      </div>
    </div>
  </div>
</div>
