@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}

.actionable {
  cursor: pointer;
}

.weather-table {
  margin-top: 20px;

  .weather-summary {
    .title {
      font-size: 20px;
      text-decoration: underline;
      margin-bottom: 5px;
    }
  }
}
